doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui')
    title Appium: A Brief Introduction

    link(rel='stylesheet', type='text/css', href='lib/css/reveal.css')

    link(rel='stylesheet', type='text/css', href='lib/css/zenburn.css')
    link(rel='stylesheet', type='text/css', href='css/dark_sole.css')
    link(rel='stylesheet', type='text/css', href='css/sole.css')

    script(src='js/bundle.js', defer)

  body

    div.reveal
      div(class='twitter', hidden) @imurchie
      div.slides
        section(data-transition='zoom')
          h1 <strong>Appium</strong>:
          blockquote a brief introduction

        section(data-background='img/sauce-background.jpg')
          h2 Isaac Murchie
          h3 @imurchie

        section(data-background='img/sauce-background.jpg')
          h2 I work at <strong>Sauce Labs</strong>
          h3.fragment I build automation tools
          h4.fragment And I am the team lead for <strong>Appium</strong>

        section(data-background='img/sauce-background.jpg')
          h2 Appium is an <strong>open source</strong>, <strong>cross-platform</strong> test automation tool
          h2.fragment Supporting <strong>native</strong>, <strong>hybrid</strong> and <strong>mobile web apps</strong>.

        section(data-transition='zoom', data-background='img/sauce-background.jpg')
          h1 Open Source!

        section(data-background='img/sauce-background.jpg')
          h2 More than <strong>150</strong> contributors
          h2.fragment <strong>2648</strong> stars
          h2.fragment <strong>1769</strong> forks
          h2.fragment <strong>3500</strong> issues
          h2.fragment Issues closed in <strong>3</strong> days
          h2.fragment Pull requests closed in <strong>1</strong> hours
          h2.fragment <strong>19k</strong> downloads per month

        section(data-transition='zoom', data-background='img/sauce-background.jpg')
          h2 Four guiding principles

        section(data-background='img/1.png')
          h2 <center><strong>You shouldn't have to recompile your app or modify it in any way in order to automate it.</strong></center>

        section(data-background='img/2.png')
          h2 <center><strong>You shouldn't be locked into a specific language or framework to write and run your tests.</strong></center>

        section(data-background='img/3.png')
          h2 <center><strong>A mobile automation framework shouldn't reinvent the wheel when it comes to automation APIs.</strong></center>

        section(data-background='img/4.png')
          h2 <center><strong>A mobile automation framework should be open source, in spirit and practice as well as in name!</strong></center>

        section(data-background='img/sauce-background.jpg')
          h1 Cross-platform
          h2.fragment Supporting

        section(data-background='img/ios.jpg')
          iOS

        section(data-background='img/android.jpg')
          android

        section(data-background='img/firefox.jpg')
          firefox os

        section(data-background='img/sauce-background.jpg')
          h2 But what does <strong>Appium</strong> offer over the vendor frameworks?

        section(data-transition='zoom', data-background='img/sauce-background.jpg')
          h1 consistency

        section(data-background='img/sauce-background.jpg')
          h2 In <strong>API</strong>

        section(data-background='img/sauce-background.jpg')
          h2 In <strong>function</strong>

        section(data-background='img/sauce-background.jpg')
          h2 In <strong>reliability</strong>

        section(data-transition='zoom', data-background='img/sauce-background.jpg')
          h1 language independence

        section(data-transition='zoom', data-background='img/sauce-background.jpg')
          h1 scalability

        section(data-transition='zoom', data-background='img/sauce-background.jpg')
          h2 The <strong>future</strong>

        section(data-background='img/sauce-background.jpg')
          h2 Improved codebase to help with reliability and understandability

        section(data-background='img/sauce-background.jpg')
          h2 Support for more backend frameworks

        section(data-transition='zoom', data-background='img/sauce-background.jpg')
          blockquote Keep in touch!
          h2.fragment isaac@saucelabs.com

